version: '3.9'

networks:
    queue_network:
        driver: 'bridge'
    database_network:

services:

    database:
        build:
            context: .
            dockerfile: ./docker/database/Dockerfile
        hostname: database
        environment:
            POSTGRES_PASSWORD: 'hwproj'
            POSTGRES_USER: 'hwproj'
            POSTGRES_DB: 'hwproj'
        ports:
            - '5432:5432'
        networks:
            - database_network

    rabbitmq:
        image: rabbitmq:3-management
        hostname: rabbitmq
        environment:
            - RABBITMQ_DEFAULT_USER=maxim
            - RABBITMQ_DEFAULT_PASS=maxim
        ports:
            - '5672:5672'
            - '15672:15672'
        networks:
            - queue_network

    build:
        build:
            context: .
            dockerfile: ./docker/build/Dockerfile
        volumes:
            - .:/app
        depends_on:
            - rabbitmq
            - database

    api:
        build:
            context: .
            dockerfile: ./docker/api/Dockerfile
        ports:
            - '8080:8080'
        expose:
            - '8080'
        volumes:
            - .:/app
        networks:
            - queue_network
            - database_network
        depends_on:
            - database
            - rabbitmq
            - build

    runner:
        build:
            context: .
            dockerfile: ./docker/runner/Dockerfile
        volumes:
            - .:/app
            - /var/run/docker.sock:/var/run/docker.sock
        networks:
            - queue_network
            - database_network
        depends_on:
            - database
            - rabbitmq
            - build

    client:
        build:
            context: .
            dockerfile: ./docker/client/Dockerfile
        ports:
            - '3000:3000'
        expose:
            - '3000'
        volumes:
            - ./hwproj-client:/app
        depends_on:
            - api
