version: '3.9'

networks:
    queue_network:
        driver: 'bridge'
    database_network:

services:
    database:
        build:
            context: .
            dockerfile: ./docker/database/Dockerfile
        environment:
            POSTGRES_PASSWORD: 'hwproj'
            POSTGRES_USER: 'hwproj'
            POSTGRES_DB: 'hwproj'
        ports:
            - '5432:5432'
        networks:
            - database_network

    rabbitmq:
        image: rabbitmq:3-management
        hostname: rabbitmq-container
        environment:
            - RABBITMQ_DEFAULT_USER=maxim
            - RABBITMQ_DEFAULT_PASS=maxim
        ports:
            - '5672:5672'
            - '15672:15672'
        networks:
            - queue_network

    api:
        build:
            context: .
            dockerfile: ./docker/api/Dockerfile
        ports:
            - '8080:8080'
        expose:
            - '8080'
        volumes:
            - .:/app
        networks:
            - queue_network
            - database_network
        depends_on:
            - database
            - rabbitmq
            - runner

    runner:
        build:
            context: .
            dockerfile: ./docker/runner/Dockerfile
        volumes:
            - .:/runner
        networks:
            - queue_network
            - database_network
        depends_on:
            - database
            - rabbitmq
