$menu-button-color: #9fa8d0;
$menu-button-hover-color: #a92f2f;
$menu-cross-button-color: #bdc3c7;
$menu-bg-color: #3c3f4e;
$menu-item-color: #dedede;
$menu-item-hover-color: #ffffff;

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: $menu-button-color;
}

.bm-burger-bars-hover {
  background: $menu-button-hover-color;
}

.bm-cross-button {
  color: $menu-cross-button-color;
  margin-bottom: 10px;
  text-align: left;
  text-decoration: none;
  transition: color 0.2s;
  height: 100px;
  width: 100px;
}

.bm-cross {
  background: $menu-cross-button-color;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  background: $menu-bg-color;
  padding: 2em 1em 0;
  font-size: 1.6em;
}

.bm-item-list {
  color: $menu-item-color;
  padding: 0.8em;
}

.bm-item {
  display: inline-block;
  color: $menu-item-color;
  margin-bottom: 10px;
  text-align: left;
  text-decoration: none;
  transition: color 0.2s;
}

.bm-item:hover {
  color: $menu-item-hover-color;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
